brcm-patchram-plus.cflags
brcm-patchram-plus.config
brcm-patchram-plus.creator
brcm-patchram-plus.cxxflags
brcm-patchram-plus.files
brcm-patchram-plus.includes
brcm-patchram-plus.creator.user
*.o
*.a
*.so
.qtc_clangd/
